
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-upay-bg text-upay-text antialiased;
  }
}

/* Custom Scrollbar for horizontal scrolling (Machine Scheduler) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
